html {
  --at-apply: 'bg-background c-secondary antialiased';
  scrollbar-width: thin;
  scrollbar-color: oklch(var(--un-preset-theme-colors-secondary) / 0.25) transparent;
  scrollbar-gutter: stable;
}

/* Fix Flash Issue On iOS */
body {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
body::selection {
  --at-apply: 'bg-highlight';
}
