/* 视图过渡动画 */
::view-transition-new(animation-theme-toggle) {
  animation: reveal 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  clip-path: inset(0 0 0 0);
  z-index: 99;
}
::view-transition-old(animation-theme-toggle) {
  animation: none;
  z-index: -1;
}
@keyframes reveal {
  from {
    clip-path: inset(var(--from));
  }
}

html.dark {
  --from: 0 0 100% 0;
}
html:not(.dark) {
  --from: 100% 0 0 0;
}

/* 主题切换时禁用特殊元素的动画 */
html[data-theme-changing] [data-disable-theme-transition] {
  view-transition-name: none !important;
}

/* 为不支持视图过渡或启用减少动画的浏览器提供后备过渡效果 */
@supports not (view-transition-name: none) {
  html:not(.reduce-motion) {
    --at-apply: 'transition-colors duration-300 ease-out';
  }
}
html.reduce-motion {
  transition: none;
}

/* GSAP 动画元素初始状态 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1024px) {
  /* 文章内容 + 标签 + 评论 */
  html.js:not(.reduce-motion) #gsap-post-content > *,
  html.js:not(.reduce-motion) #gsap-post-tags,
  html.js:not(.reduce-motion) #giscus,
  html.js:not(.reduce-motion) #waline {
    opacity: 0;
    transform: translateY(3rem);
  }

  /* 目录 + 返回按钮 + 文章日期 */
  html.js:not(.reduce-motion) #toc-desktop-icon {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  html.js:not(.reduce-motion) #toc-links-list > * {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  html.js:not(.reduce-motion) #back-button {
    opacity: 0;
    transform: translateX(0.5rem);
  }
  html.js:not(.reduce-motion) #gsap-post-date {
    opacity: 0;
    transform: translateY(1.5rem);
  }
}

@media (max-width: 1023px) {
  html.js:not(.reduce-motion) #gsap-post-content > :nth-child(-n + 7) {
    opacity: 0;
    transform: translateY(3rem);
  }
}

@media (max-width: 1535px) {
  html.js:not(.reduce-motion) #toc-container {
    opacity: 0;
    transform: translateY(3rem);
  }
}
