---
import Head from './Head.astro'
import Button from '@/components/Button.astro'
import Navbar from '@/components/Navbar.astro'
import Header from '@/components/Header.astro'
import GsapAnimation from '@/components/GsapAnimation.astro'
import SoundEffect from '@/components/SoundEffect.astro'
import { themeConfig } from '@/config'
import '@/styles/global.css'
import '@/styles/transition.css'
import '@/styles/font.css'
import '@/styles/markdown.css'
import '@/styles/extend.css'

interface Props {
  postTitle?: string
  postDescription?: string
  postSlug?: string
}

const { postTitle, postDescription, postSlug } = Astro.props

const animationEnabled = !themeConfig.global.reduceMotion
---

<!doctype html>
<html lang="zh-CN">
  <Head {postTitle} {postDescription} {postSlug} />
  <body>
    <div
      class="mx-auto max-w-205.848 min-h-vh w-full min-h-dvh"
      p="x-[min(7.25vw,3.731rem)] y-10"
      lg="mx-[max(5.75rem,calc(50vw-34.25rem))] my-20 max-w-[min(calc(75vw-16rem),44rem)] min-h-full p-0"
    >
      <Header />
      <Navbar />
      <main>
        <slot />
      </main>
    </div>
    {animationEnabled && <GsapAnimation />}
    <Button />
    <SoundEffect />
  </body>
</html>
