---
import Head from './Head.astro'
import Button from '@/components/Button.astro'
import '@/styles/global.css'
import '@/styles/transition.css'
import '@/styles/font.css'
---

<!doctype html>
<html lang="zh-CN">
  <Head />
  <body>
    <div
      class="mx-auto max-w-205.848 min-h-vh w-full min-h-dvh"
      p="x-[min(7.25vw,3.731rem)] y-10"
      lg="mx-[max(5.75rem,calc(50vw-34.25rem))] my-20 max-w-[min(calc(75vw-16rem),44rem)] min-h-full p-0"
    >
      <main>
        <slot />
      </main>
    </div>
    <Button />
  </body>
</html>
